/* Contacts */
.contacts li a.twitter:hover {
  color: #1a91da;
}
.contacts li a.instagram:hover {
  color: dimgrey;
}
.contacts li a.manchesterCity:hover {
  color: #6caddf;
}
.page {
  border-color: white;
}
